<div class="row" style=" margin-top: 10px;">
    <div class="col-lg-4 col-6">
    
    <div class="small-box bg-info">
    <div class="inner">
    <h3>{{this.totalDashboard.totalPaciente[0].total}}</h3>
    <p>Total Pacientes</p>
    </div>
    <div class="icon">
    <i class="ion ion-person-add"></i>
    </div>
    <a href="#" class="small-box-footer">Ver Mais <i class="fas fa-arrow-circle-right"></i></a>
    </div>
    </div>
    
    <div class="col-lg-4 col-6">
    
    <div class="small-box bg-success">
    <div class="inner">
    <h3>{{this.totalDashboard.totalMedicos[0].total}}<sup style="font-size: 20px"></sup></h3>
    <p>Total Medicos</p>
    </div>
    <div class="icon">
    <i class="ion ion-person-add"></i>
    </div>
  
    </div>
    </div>
    
    <div class="col-lg-4 col-6">
    
    <div class="small-box bg-warning">
    <div class="inner">
    <h3>{{this.totalDashboard.totalConsulta[0].total}}</h3>
    <p>Total Consultas</p>
    </div>
    <div class="icon">
    <i class="ion ion-bag"></i>
    </div>
  
    </div>
    </div>
    

    
    </div>