<aside class="main-sidebar sidebar-dark-primary elevation-40" style="position: fixed;">
    <!-- Brand Logo -->
    <a routerLink="/dashboard" class="brand-link">
      <img src="assets/img/unig.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: 0.8" />
      <span class="brand-text font-weight-light"><b>SGDM</b></span>
    </a>
    <!-- End brand logo -->
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../../assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block">{{this.username}}</a>
        </div>
      </div>
      <!-- End sidebar user -->
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
          data-accordion="false">
          <li class="nav-item has-treeview">
            <a routerLink="" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>{{ 'Pagina Inicial' }}</p>
            </a>
          </li>

          <li *ngIf="this.user_type == 'paciente'" class="nav-item has-treeview">
            <a routerLink="/consulta_paciente" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Minhas Consultas</p>
            </a>
          </li>


          <li *ngIf="this.user_type == 'admin'" class="nav-item has-treeview">
            <a routerLink="/pacientes" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Listar Paciente</p>
            </a>
          </li>

          <li *ngIf="this.user_type == 'admin'"  class="nav-item has-treeview">
            <a routerLink="/medicos" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Listar Medicos</p>
            </a>
          </li>

          <li *ngIf="this.user_type == 'medico'"  class="nav-item has-treeview">
            <a routerLink="/consulta_medico" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Minhas Consultas</p>
            </a>
          </li>


          <li *ngIf="this.user_type == 'admin'"  class="nav-item has-treeview">
            <a routerLink="/todas_consulta" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Listar Consulta</p>
            </a>
          </li>

          <li *ngIf="this.user_type == 'admin'"  class="nav-item has-treeview">
            <a routerLink="/militar" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Listar Militar</p>
            </a>
          </li>
       
          <li *ngIf="this.user_type == 'admin'"  class="nav-item has-treeview" routerLinkActive="menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                Configuração
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" >
                <a routerLink="/especialidade" routerLinkActive="active" class="nav-link">
                  <i class="icon-user nav-icon"></i>
                  <p>
                     Especialidade
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/unidade" routerLinkActive="active" class="nav-link">
                  <i class="icon-user nav-icon"></i>
                  <p>
                  Unidade
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/grau_parentesco" routerLinkActive="active" class="nav-link">
                  <i class="icon-user nav-icon"></i>
                  <p>
                  Grau Parentesco
                  </p>
                </a>
              </li>

            </ul>
          </li>
  
       
          <!--END OUTRAS CONFIGURAÇÕES-->

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  